<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex" *ngIf="serviceDetails">
                <div class="img img-about align-self-stretch" style="background-image: url(../../../assets/images/{{serviceDetails.image}}); width: 100%;"></div>
            </div>
            <div  class="col-md-6 pl-md-5" >
                <h2 class="mb-4">{{ serviceDetails.name }}</h2>
                <ng-container *ngIf="isClient()">
                    <div>
                        <span
                            class="star"
                            *ngFor="let starNumber of [1, 2, 3, 4, 5]"
                            [class.highlighted]="isHighlighted(starNumber)"
                            (click)="star(starNumber)"
                            (mouseover)="highlightStar(starNumber)"
                            (mouseleave)="resetStars()"
                            [class.disabled]="isRated">
                            &#9733;
                        </span>
                    
                    </div>
                </ng-container>    
                    
                <br>
                <h5 class="mb-4">{{ serviceDetails.price }} Ar</h5>
                <p>{{ serviceDetails.description }}</p>
                
                <ng-container *ngIf="isClient()">
                    <button class="btn btn-primary py-3 px-5 mx-auto" [routerLink]="['/rendez_vous', serviceDetails._id]"> Get RDV</button>
                </ng-container>
            </div>
           
        </div>
    </div>
</section>

