<section class="ftco-section contact-section">
  <div class="container mt-5">
    <div class="row block-9">
                  <div class="col-md-4 contact-info ">
                      <div class="row">
                          <div class="col-md-12 mb-4">
                <h2 class="h4">Contact Information</h2>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Address:</span> 103 Analamahitsy, Antananarivo, Analamanga, Madagascar</p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Email:</span> <a href="mailto:info@yoursite.com">Pretty&#64;amelia.com</a></p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Website:</span> <a href="#">yoursite.com</a></p>
              </div>
                      </div>
                  </div>
                  <div class="col-md-1"></div>
      <div class="col-md-6">
        <form [formGroup]="emailForm" class="contact-form" >
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="name" class="form-control" value="" name="name" placeholder="Your Name">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Your Email" name="email">
                  </div>
                  </div>
          </div>
          <div class="form-group">
            <input type="text" formControlName="subject" class="form-control" placeholder="Subject" name="subject">
          </div>
          <div class="form-group">
            <textarea name="message" id="" formControlName="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" (click)="onSubmit()" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
