<div class="checkout-panel">
    <div class="panel-body">
      <h2 class="title">Payement</h2>
   
      <div class="payment-method">
        <label for="card" class="method card">
          <div class="card-logos">
            <img src="assets/images/visa_logo.png"/>
            <img src="assets/images/mastercard_logo.png"/>
          </div>
   
          <div class="radio-input">
            <input id="card" type="radio" name="payment">
            Pay 340.00 with credit card
          </div>
        </label>
   
        <label for="paypal" class="method paypal">
          <img src="https://designmodo.com/demo/checkout-panel/img/paypal_logo.png"/>
          <div class="radio-input">
            <input id="paypal" type="radio" name="payment">
            Pay 340.00 with PayPal
          </div>
        </label>
      </div>
   
      <div class="input-fields">
        <div class="column-1">
          <label for="cardholder">Cardholder's Name</label>
          <input type="text" required id="cardholder" />
   
          <div class="small-inputs">
            <div>
              <label for="date">Valid thru</label>
              <input type="text" required id="date"/>
            </div>
   
            <div>
              <label for="verification">CVV / CVC *</label>
              <input type="password"required id="verification"/>
            </div>
          </div>
   
        </div>
        <div class="column-2">
          <label for="cardnumber">Card Number</label>
          <input type="password" required id="cardnumber"/>
   
          <span class="info">* CVV or CVC is the card security code, unique three digits number on the back of your card separate from its number.</span>
        </div>
      </div>
    </div>
   
    <div class="panel-footer">
      <button class="btn btn-white btn-outline-white py-3 px-4 ">Back</button>
      <button class="btn btn-primary py-3 px-5 " (click)="rendez_vous()">Next Step</button>
    </div> 
